.splash {
    background-image: url('../public/images/backgroundTexture.jpg');
    background-position: center;
    background-size: cover;
}
.splash::after{
    background-image: url('../public/images/backgroundTexture.jpg');
    background-position: center;
    background-size: cover;
    opacity: .5;
}